/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Section styles */
section {
    padding: 40px;
}

.history, .adventures {
    background-color: #f2f2f2;
}

.adventures {
    display: flex;
    flex-wrap: wrap;
}

.adventures figure {
    margin-right: 20px;
}

.adventures img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    margin-top: 10px;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: right;
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-left: 10px;
}
