/* Universal selector */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box Class Selector */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: #ddd;
  color: #000;
}

/* Main Image Float */
main img {
  float: right;
}

/* Aside Position */
aside {
  position: relative;
}

/* Aside h2 Position */
aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}
