/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: #ddd;
  color: #000;
}

/* Profile image floating */
main .profile-image {
  float: right;
}

/* Absolute positioning for heading in aside */
aside {
  position: relative;
}

aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}
